<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="tertiary"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-title size="large">Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Info</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="ion-padding">
    <h2>¡Bienvenido a la App RegistrAPP!</h2>
    <p>Esta aplicación te brinda un conjunto de características útiles y emocionantes para simplificar tu vida académica.</p>
  
    <h3>Características principales:</h3>
    <ul>
      <li>
        <h4>Gestión de Usuarios</h4>
        <p>Registra tu usuario como maestro o alumno y disfruta de funcionalidades específicas para cada rol.</p>
      </li>
      <li>
        <h4>Código QR</h4>
        <p>Los maestros pueden generar códigos QR para compartir información con los alumnos.</p>
      </li>
      <li>
        <h4>Inicio de Sesión Seguro</h4>
        <p>Tu seguridad es importante para nosotros. Ofrecemos un inicio de sesión seguro para proteger tus datos.</p>
      </li>
    </ul>
  
    <h3>Explora Nuestra App</h3>
    <p>Desplázate por las distintas secciones de la aplicación para acceder a todas las funcionalidades que ofrecemos. Si tienes alguna pregunta o necesitas ayuda, no dudes en ponerte en contacto con nuestro equipo de soporte.</p>
  
    <h3>¡Comienza a Usar RegistrAPP Hoy Mismo!</h3>
    <img src="assets/logo3.PNG" alt="Captura de pantalla de la App" class="app-screenshot">
  </ion-content>
</ion-content>